{
    "recommendations": [
        // Code Runner
        "formulahendry.code-runner",
        // Material Icon Theme
        "pkief.material-icon-theme",
        "vscode-icons-team.vscode-icons",
        // IntelliJ IDEA Keybindings
        "k--kato.intellij-idea-keybindings",
        // Prettier - Code formatter
        "esbenp.prettier-vscode",
        // gitignore
        "codezombiech.gitignore",
        //----------------------------------------
        "kevinrose.vsc-python-indent",
        "ms-python.python",
        "donjayamanne.python-environment-manager",
        "ms-python.black-formatter"
    ]
}